{{#each messages}}
      <div class="messageRow">
        <b class="messageFrom">{{this.from}}</b>
        <p class="messageTime">{{this.time}}:</p>
        <i class="messageContent">{{this.content}}</i>
      </div>
{{/each}}